.content {
  padding: 0 5px;
}

.sidebar {
  height: 100vh;
  border-right: 1px #ccc solid;
}
.sidebar li {
  border-bottom: 1px #ccc dotted;
  transition: all 300ms 0s ease;
}

.sidebar li:hover {
  background-color: #ccc;
}

.sidebar li a {
padding: 16px 8px;
  display: block;
  width: 100%;
  height: 100%;
}

.new-btn {
  margin: 10px;
}

/*----------Editor----------*/
.editor {
  height: 100vh;
}
